body {
	font-family: sans-serif;
}

h1 {
	padding: 10px;
	font-family: fantasy;
	color: white;
}

h4 {
	font-family: fantasy;
	float: right;
	color: #ccc;
	margin-right: 15px;
	margin-top: 25px;
}

h3 {
	padding-left: 10px;
	color: #ccc;
}

button {
	padding: 5px;
	border-radius: 5px;
	background-color: grey;
}

#outer {
	width: 100%;
	height: 700px;
	margin-bottom: 2em;
	opacity: .95;
}

.bolt {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	box-shadow: 3px 3px 4px;
	float: right;
	margin-top: 10px;
	margin-right: 1em;
	background-color: black;
}

#keyboardContainer {
	height: 700px;
	width: 95%;
	background-color: #222;
	float: left;
	border: 2px solid black;
	border-radius: 20px 20px 10px 10px;
	box-shadow: 10px 10px 5px;
}

#keyboardType {
	height: 100px;
	width: 25%;
	float: left;
	margin-left: 5%;
}

#loops{
	height: 50px;
	width: 50%;
	margin-left: 45%;
}
.redbar {
	border: 3px solid red;
	width: 92.2%;
	margin-left: 3.2em;
	margin-top: 3em;
	border-radius: 10px;
}

#keysWrap {
	background-color: white;
	height: 500px;
	width: 94%;
	margin-left: 2.5em;
	border-radius: 15px 15px 5px 5px;
}

#keyboard {
	height: 100%;
	width: 100%;
}

.indKey {
	height: 99.7%;
	width: 4.01%;
	border: 1px solid black;
	float: left;
	border-radius: 0px 0px 5px 5px;
	z-index: 1;
}

.first {
	border-radius: 15px 0px 5px 5px;
	box-shadow: 0px 0px 3px #ddd;
}

.last {
	border-radius: 0px 15px 5px 5px;
	box-shadow: 0px 0px 3px #ddd;
}

.black {
	background-color: black;
	height: 60%;
	position: relative;
	box-shadow: 0px 2px 3px black;
	border-radius: 0px 0px 3px 3px;
	z-index: 2;
}

.white {
	box-shadow: 0px 0px 3px #ddd;
}

.wideKey {
	width: 5%;
}

.vent {
	margin-left: 1.5em;
	border: 2px solid black;
	width: 50%;
	margin-top: 10px;
	box-shadow: 2px 2px 4px #111;
}

.smallVent {
	float: right;
	border: 2px solid black;
	width: 35%;
	margin-right: 7em;
	margin-top: 10px;
	box-shadow: 2px 2px 4px #111;
}