body {
	font-family: sans-serif;
}

h1 {
	padding: 20px;
	font-family: fantasy;
}

h4 {
	font-family: fantasy;
	float: right;
	color: #ccc;
	margin-right: 15px;
	margin-top: 25px;
}

h3 {
	padding-left: 10px;
	color: #ccc;
}

button {
	padding: 5px;
	border-radius: 5px;
	background-color: grey;
}

#keyboardContainer {
	height: 700px;
	width: 100%;
	background-color: #222;
	float: left;
	border: 2px solid black;
	border-radius: 20px 20px 10px 10px;
	box-shadow: 3px 3px 5px;
}

#keyboardType {
	height: 100px;
	width: 25%;
	float: left;
	margin-left: 5%;
}

#loops{
	height: 50px;
	width: 50%;
	margin-left: 45%;
}
.redbar {
	border: 3px solid red;
	width: 92.2%;
	margin-left: 3.2em;
	margin-top: 3em;
	border-radius: 10px;
}

#keysWrap {
	background-color: white;
	height: 500px;
	width: 94%;
	margin-left: 2.5em;
	border-radius: 15px 15px 5px 5px;
}

#keyboard {
	height: 100%;
	width: 100%;
}

.indKey {
	height: 100%;
	width: 4.0178559%;
	border: 1px solid black;
	float: left;
	border-radius: 15px 15px 5px 5px;
}

.grey {
	background-color: grey;
}

.vent {
	margin-left: 1.5em;
	border: 2px solid black;
	width: 50%;
	margin-top: 10px;
	box-shadow: 2px 2px 4px #111;
}

.smallVent {
	float: right;
	border: 2px solid black;
	width: 35%;
	margin-right: 10em;
	margin-top: 10px;
	box-shadow: 2px 2px 4px #111;
}